<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-age-bar-chart [receivedData]="ChartData" #barchart1 (sendBarToDashboard)="updateFromBarChart($event)"></app-age-bar-chart>
    </div>
    <div class="col-md-6">
      <div class="pie-chart-container">
        <app-sex-pie-chart [receivedData]="ChartData" (sendSexPieToDashboard)="updateFromSexPieChart($event)"></app-sex-pie-chart>
      </div>
      <div class="pie-chart-container">
        <app-relation-status-pie-chart [receivedData]="ChartData" (sendStatusPieToDashboard)="updateFromStatusPieChart($event)"></app-relation-status-pie-chart>
      </div>
    </div>
  </div>
</div>
